* {
	box-sizing: border-box;
}

.skip {
	position: absolute;
	left: -1000px;
}

.skip:focus {
	left: 0;
	color: blue;
	text-decoration: underline;
}

header{
	font-family: 'Josefin Sans';
	font-size: 12px;
	padding-top: 44px;
	padding-bottom: 50px;
}

#logo{
	display: flex;
	font-family: 'Reenie Beanie', cursive;
	font-size: 35px;
	font-weight: 400;
	padding-left: 30px;
	padding-top: 20px;
	text-decoration: none;
	color: black;
}

/*#menu-icon {
	display: inline-block;
	margin-right: -80px;
	width: 40px;
	height: 40px;
	background: #ffe6e6 url(menu-icon.png) center;
}*/

h1{
	text-align: center;
	font-family: 'Taproom', serif;
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 20px;
}

h2{
	text-align: center;
	font-family: 'Taproom', serif;
	font-size: 30px;
	margin-bottom: 30px;
}

/*nav ul, nav:active ul { 
	display: none;
	position: absolute;
	list-style: none;
	padding: 10px;
	background: #ffe6e6;
	right: -10px;
	top: 55px;
	width: 25%;
	border-radius: 4px 0 4px 4px;
}*/

nav{
	padding-top: 15px;
}

nav li {
	text-align: center;
	border: 0.3px solid grey;
	width: 100%;
	padding: 18px ;
	margin: 0;
	background-color: #ffe6e6;
}


nav a{
	color: black;
	text-decoration: none;
}

nav a:active{
	background: white;
	padding: 10px 14px;
}

nav li:hover{
	text-decoration: underline;
}

nav li .current{
	text-decoration: underline;
	padding: 10px 14px;
}

 
p::first-line, 
#ending{
	font-weight: 800;
	text-align: left;
	font-family: 'Taproom', serif;
	font-size: 16px;
	margin: 20px 50px 5px 50px;
}

p{
	font-size: 18px;
	padding: 5px 50px 20px 50px;
	line-height: 1.5;
}

p a:visited{
	color: black;
	text-decoration: underline;
}

p a:hover{
	color: purple;
}

#content:nth-child(2){
	text-indent: 50px;
}

.foods{
	text-align: center;
	font-family: 'Taproom', serif;
	font-size: 20px;
}

.gallery{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;
}

.gallery img{
	max-width: 80%;
	margin-bottom: 10px;
}

.container{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;
}

.container img{
	max-width: 80%; 
	margin-bottom: 10px;
}

footer{
	text-align: center;
	margin: 44px;
	margin-top: 20px;
}

.footer-items a{
	margin: 8px;
	color: black;
}

.footer-items a:active, .footer-items a:hover{
	color: purple;
}

footer div{
	padding-top: 15px;
	font-family: 'Josefin Sans';
}

@media only screen and (min-width: 568px)  {
	
	header{
		display: flex;
		justify-content: space-between;
	}

	nav ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		padding-right: 40px;
	}

	nav a, div a{
		text-decoration: none;
		color: black;
	}

	nav ul li{
		display: block;
		width: 25%;
		margin-top: 20px;
		padding: 15px;
		border: none;
		background: none;
	}

	nav li:hover{
		text-decoration: underline;
		color: #ffe6e6;
	}

	nav li .current{
		background-color: #ffe6e6;
		text-decoration: underline;
		padding: 10px 14px;
	}

	.about::before{
		content: "";
		background-image: url("background.jpg");
		opacity: 0.7;
		filter: blur(0.8px);
		top: 0; bottom: 0; left: 0; right: 0;
		position: fixed;
		z-index: -1;
	}

	.intro{
		background: white;
	}

	#logo{
		padding-left: 100px;
	}

	.foods{
		margin: 30px 150px 5px 150px;
	}

	p{
		font-size: 18px;
		line-height: 1.2;
		padding: 20px 175px 10px 200px;
	}

	.bold{
		margin: 30px 150px 5px 200px;
	}

	#ending{
		line-height: 2;
		margin: 0 175px 10px 200px;
	}

	.gallery img{
		padding: 10px;
		max-width: 30%;
	}

	.container img{
		padding: 10px;
		max-width: 60%;
	}
}

@media only screen 
  and (max-device-width: 568px)
  and (orientation: landscape) {

	p{
		font-size: 12px;
		padding: 10px 50px 10px 95px;
	}

	h1{
		font-size: 30px;
	}

	h2{
		font-size: 20px;
	}
}



		
