.skip {
	position: absolute;
	left: -1000px;
}

.skip:focus {
	left: 0;
	color: blue;
	text-decoration: underline;
}

header{
 	text-align: right;
 	font-family: 'Josefin Sans';
	font-size: 12px;
	padding-top: 44px;
	padding-right: 100px;
	padding-bottom: 50px;
}

.logo{
	text-align: left;
	font-family: 'Reenie Beanie', cursive;
	font-size: 35px;
	font-weight: 400;
	padding-left: 100px;
	padding-top: 20px;
}

.logo a{
	text-decoration: none;
	color: black;
}

.menu a{
	margin: 10px;
}

.current{
	background-color: #ffe6e6;
	text-decoration: underline;
	padding: 10px;
}

.about::before{
	content: "";
	background-image: url("background.jpg");
	opacity: 0.7;
	filter: blur(0.8px);
	top: 0; bottom: 0; left: 0; right: 0;
	position: absolute;
	z-index: -1;
}

nav a{
	text-decoration: none;
	color: black;
}

h1{
	text-align: center;
	font-family: 'Taproom', serif;
	font-size: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
}

h2{
	text-align: center;
	font-family: 'Taproom', serif;
	font-size: 30px;
	margin-bottom: 30px;
}

h3{
	text-align: center;
	font-family: 'Taproom', serif;
	font-size: 20px;
	margin: 30px 150px 5px 150px;
}

p, 
.bold, 
#ending{
	text-align: left;
	font-family: 'Taproom', serif;
	font-size: 18px;
}

p{
	line-height: 1.2;
	padding: 20px 175px 10px 200px;
}

p a:visited{
	color: black;
	text-decoration: underline;
}

p a:hover{
	color: purple;
}

figcaption {
	text-align: center;;
}

.bold{
	font-weight: 800;
	margin: 30px 150px 5px 200px;
}

#ending{
	line-height: 2;
	margin: 0 175px 10px 200px;
}

.container{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding-top: 20px;
}

.horizontal img{
	height: 475px;
	width: 600px;
	padding: 10px;
}

.wide img{
	height: 475px;
	width: 700px;
	padding: 10px;
}

.vertical img {
	height: 650px;
	width: 500px;
	padding: 10px;
}

.long img{
	height: 550px;
	width: 400px;
	padding: 10px;
}

.square img{
	height: 475px;
	width: 475px;
	padding: 10px;
}

footer{
	text-align: center;
	margin: 44px;
	margin-top: 100px;
}

.footer-items a{
	margin: 8px;
}

footer div{
	padding-top: 15px;
	font-family: 'Josefin Sans';
}


